body {
  font-family: "Russo One", sans-serif;
  background-color: rgb(255, 223, 175);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}


li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  background-color: rgb(
    rgb(158, 32, 32),
    rgb(181, 255, 181),
    rgb(192, 192, 255)
  );
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

